{
  "openapi": "3.1.1",
  "info": {
    "title": "ChMeetings API"
  },
  "servers": [
    {
      "url": "https://api.chmeetings.com/"
    }
  ],
  "paths": {
    "/api/v1/address/countries": {
      "get": {
        "tags": [
          "Address"
        ],
        "summary": "Get all countries",
        "description": "Retrieves a paged list of countries, allowing for optional search text to filter results.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfCountryInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfCountryInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfCountryInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/address/states": {
      "get": {
        "tags": [
          "Address"
        ],
        "summary": "Get states by country id",
        "description": "Retrieves a paged list of states for a specified country, allowing for optional search text to filter results.",
        "parameters": [
          {
            "name": "country_id",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfStateInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfStateInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfStateInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contributions/batches": {
      "get": {
        "tags": [
          "Contributions"
        ],
        "summary": "Get all contribution batches",
        "description": "Get all contribution batches with paging",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfBatchDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfBatchDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfBatchDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contributions"
        ],
        "summary": "Create a new batch",
        "description": "Create a new batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contributions/batches/{id}": {
      "get": {
        "tags": [
          "Contributions"
        ],
        "summary": "Get a batch by Id",
        "description": "Get a batch by Id",
        "operationId": "GetBatchById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contributions"
        ],
        "summary": "Update a contribution batch",
        "description": "Updates a contribution batch. If 'date' is provided, the batch date is updated; if 'date' is null or omitted, the existing date remains unchanged.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBatchDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBatchDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBatchDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contributions"
        ],
        "summary": "Delete a batch",
        "description": "Delete a batch if no contributions are associated",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contributions/batches/{id}/close": {
      "post": {
        "tags": [
          "Contributions"
        ],
        "summary": "Close a contribution batch",
        "description": "Close a contribution batch to prevent further contributions from being added",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contributions/batches/{id}/reopen": {
      "post": {
        "tags": [
          "Contributions"
        ],
        "summary": "Reopen a contribution batch",
        "description": "Reopen a contribution batch to allow contributions to be added again",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBatchDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get all campaigns",
        "description": "Get all campaigns with paging",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfCampaignDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfCampaignDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfCampaignDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/pledges": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get all pledges for a campaign",
        "description": "Get all pledges for a campaign with paging",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfPledgeDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfPledgeDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfPledgeDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contributions": {
      "get": {
        "tags": [
          "Contributions"
        ],
        "summary": "Get all contributions",
        "description": "- Get all contributions with paging and filtering options. \n- Available filters: person_id, start_date, end_date. \n- Supports pagination via page and page_size.",
        "parameters": [
          {
            "name": "person_id",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfContributionDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfContributionDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfContributionDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contributions"
        ],
        "summary": "Create a new contribution",
        "description": "Create a new contribution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContributionDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContributionDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContributionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfContributionDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfContributionDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfContributionDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contributions/members/no-envelopes": {
      "get": {
        "tags": [
          "Contributions"
        ],
        "summary": "Get all members without envelopes",
        "description": "Get all members without envelopes with paging and filtering options",
        "parameters": [
          {
            "name": "exclude_family_with_envelopes",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfMemberBasicInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfMemberBasicInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfMemberBasicInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contributions/{id}": {
      "delete": {
        "tags": [
          "Contributions"
        ],
        "summary": "Delete a contribution",
        "description": "Delete a contribution by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get events within a date range with pagination",
        "description": "Get events within a date range with pagination",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start date for filtering events. Format: yyyy-MM-dd. The maximum allowed range between 'from' and 'to' is 366 days.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date for filtering events. Format: yyyy-MM-dd. The maximum allowed range between 'from' and 'to' is 366 days.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfEventApiDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfEventApiDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfEventApiDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/{organization_id}/events": {
      "get": {
        "tags": [
          "Organizations - Events"
        ],
        "summary": "Get events in organization within a date range with pagination",
        "description": "Get events in organization within a date range with pagination",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start date for filtering events. Format: yyyy-MM-dd. The maximum allowed range between 'from' and 'to' is 366 days.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date for filtering events. Format: yyyy-MM-dd. The maximum allowed range between 'from' and 'to' is 366 days.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfEventApiDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfEventApiDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfEventApiDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/{organization_id}/events/{event_id}": {
      "get": {
        "tags": [
          "Organizations - Events"
        ],
        "summary": "Get an event by Id for organization",
        "description": "Returns a single event by its unique identifier within the organization.",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfEventApiDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfEventApiDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfEventApiDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/events/{event_id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get an event by Id",
        "description": "Returns a single event by its unique identifier.",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfEventApiDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfEventApiDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfEventApiDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/events/{event_id}/occurrences": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List occurrences of an event within a date range",
        "description": "Returns both materialized and virtual (computed) occurrences for a given event.",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date for filtering occurrences. Format: yyyy-MM-dd. The maximum allowed range between 'from' and 'to' is 366 days.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date for filtering occurrences. Format: yyyy-MM-dd. The maximum allowed range between 'from' and 'to' is 366 days.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfOccurrenceApiDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfOccurrenceApiDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfOccurrenceApiDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/{organization_id}/events/{event_id}/occurrences": {
      "get": {
        "tags": [
          "Organizations - Events"
        ],
        "summary": "List occurrences of an event within a date range for organization",
        "description": "Returns both materialized and virtual (computed) occurrences for a given event within the organization.",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date for filtering occurrences. Format: yyyy-MM-dd. The maximum allowed range between 'from' and 'to' is 366 days.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date for filtering occurrences. Format: yyyy-MM-dd. The maximum allowed range between 'from' and 'to' is 366 days.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfOccurrenceApiDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfOccurrenceApiDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfOccurrenceApiDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/families/family-roles": {
      "get": {
        "tags": [
          "Families"
        ],
        "summary": "Get family roles",
        "description": "Get family roles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfIEnumerableOfLookupFieldDefinition"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfIEnumerableOfLookupFieldDefinition"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfIEnumerableOfLookupFieldDefinition"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/families": {
      "get": {
        "tags": [
          "Families"
        ],
        "summary": "Get all families",
        "description": "Get all families with optional search and paging",
        "parameters": [
          {
            "name": "search_text",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfFamilyVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfFamilyVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfFamilyVm"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Families"
        ],
        "summary": "Create a new family with members",
        "description": "Create a new family with members (minimum 2 members required)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFamilyDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFamilyDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFamilyDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFamilyVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFamilyVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFamilyVm"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/families/{id}": {
      "get": {
        "tags": [
          "Families"
        ],
        "summary": "Get a specific family by ID",
        "description": "Get a specific family by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFamilyVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFamilyVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFamilyVm"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Families"
        ],
        "summary": "Delete a family",
        "description": "Delete a family and remove family relationships from all members",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/families/{id}/members": {
      "post": {
        "tags": [
          "Families"
        ],
        "summary": "Add members to an existing family",
        "description": "Add members to an existing family",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMembersDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMembersDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddMembersDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFamilyVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFamilyVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFamilyVm"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Families"
        ],
        "summary": "Replace all family members",
        "description": "Replace all family members (minimum 2 members required)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMembersDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMembersDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddMembersDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFamilyVm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFamilyVm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFamilyVm"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/families/{id}/members/{person_id}": {
      "delete": {
        "tags": [
          "Families"
        ],
        "summary": "Remove a member from a family",
        "description": "Remove a member from a family (family must retain at least 2 members)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "person_id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Families"
        ],
        "summary": "Change a family member's role",
        "description": "Change a family member's role",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "person_id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRoleDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRoleDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRoleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfUpdateMemberRoleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfUpdateMemberRoleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfUpdateMemberRoleDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contributions/funds": {
      "get": {
        "tags": [
          "Contributions"
        ],
        "summary": "Get all contribution funds",
        "description": "- Get all contribution funds with paging and filtering options.\n- Available filters: search_text, is_tax_deductible.\n- Supports pagination via page and page_size.",
        "parameters": [
          {
            "name": "search_text",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_tax_deductible",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfFundDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfFundDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfFundDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contributions"
        ],
        "summary": "Create a new fund",
        "description": "Create a new contribution fund with the specified properties",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFundDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFundDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFundDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFundDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFundDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFundDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfObject"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfObject"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contributions/funds/{id}": {
      "get": {
        "tags": [
          "Contributions"
        ],
        "summary": "Get a fund by ID",
        "description": "Get detailed information about a specific contribution fund by its ID",
        "operationId": "GetContributionFundById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFundDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFundDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFundDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfObject"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfObject"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfObject"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contributions"
        ],
        "summary": "Update a fund",
        "description": "Update an existing contribution fund's properties",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFundDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFundDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFundDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFundDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFundDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFundDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfObject"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfObject"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfObject"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfObject"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contributions"
        ],
        "summary": "Delete a fund",
        "description": "Delete a contribution fund and move all its contributions to another fund.\nThe move_to_fund_id must be provided to specify where to move existing contributions in case of deleted fund has contributions.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFundDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFundDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFundDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get all groups",
        "description": "Get all groups",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfIEnumerableOfGroupDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfIEnumerableOfGroupDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfIEnumerableOfGroupDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/groups/people": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get all people in groups",
        "description": "Get all people in groups with filtering options. \n- group_ids parameter can accept a single group ID or multiple group IDs separated by commas (e.g., \"123\" or \"123,456,789\").",
        "parameters": [
          {
            "name": "group_ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfIEnumerableOfGroupMemberBaseInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfIEnumerableOfGroupMemberBaseInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfIEnumerableOfGroupMemberBaseInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/{organization_id}/groups": {
      "get": {
        "tags": [
          "Organizations - Groups"
        ],
        "summary": "Get Groups in Organization",
        "description": "Get groups in organization with paging and search options.",
        "parameters": [
          {
            "name": "search_text",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfGroupDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfGroupDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfGroupDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/{organization_id}/groups/{group_id}/memberships": {
      "get": {
        "tags": [
          "Organizations - Groups"
        ],
        "summary": "Get Group People in Organization",
        "description": "Retrieves all people of a specific group within an organization with filtering and pagination.",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfGroupMembershipInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfGroupMembershipInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfIEnumerableOfGroupMembershipInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Organizations - Groups"
        ],
        "summary": "Add Person to Group in Organization",
        "description": "Adds a person to a group within an organization. Returns 201 if created, 200 if already exists.",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPersonToGroupDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPersonToGroupDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddPersonToGroupDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGroupMembershipInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGroupMembershipInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGroupMembershipInfo"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGroupMembershipInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGroupMembershipInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGroupMembershipInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/groups/{group_id}/memberships": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Add Person to Group",
        "description": "Adds a person to a group. Returns 201 if created, 200 if already exists.",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPersonToGroupDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPersonToGroupDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddPersonToGroupDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGroupMembershipInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGroupMembershipInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGroupMembershipInfo"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGroupMembershipInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGroupMembershipInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGroupMembershipInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoContentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/groups/{group_id}/memberships/{person_id}": {
      "delete": {
        "tags": [
          "Groups"
        ],
[...]
